* {
    margin:0px;
    padding:0px;
}

.background
{
    background-image: url('Images/background.png');
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
}

.page
{
    width: 980px;
    margin: 0px auto 0px auto;
    background-color: #FFFFFF;
}

.page_header
{
    background-position: center;
    height: 120px;    
    margin-bottom: -10px;
    position: relative;
}

.page_header .banner
{
    background-position: center;
    height: 120px;
    background-image: url('Images/header_background.png');
    background-repeat: repeat-x;
    margin-bottom: -10px;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

.page_header .school_name
{
    height: 50px;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #FF3399;
}

.footer
{
    background-position: center;
    height: 95px;
    background-image: url('Images/header_background.png');
    background-repeat: repeat-x;
}

/*      MENU        */
.menu_panel
{
    position:relative; 
    height:100px;
}

.menu_panel_level0
{
    background-image: url('Images/menu_parent_pane.png');
    height: 37px;
    width: 1003px;
    position:absolute; 
    top:0px;
    padding-top:9px;
}

.menu_panel_level0_footer
{
    background-image: url('Images/menu_parent_pane.png');
    height: 37px;
    width: 1003px;
}

.menu_title_level0
{
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}

.menu_title_level0_footer
{    
    text-align:center;
    text-transform: capitalize;    
    text-decoration:none;  
    font-family: 'uvn mang Tre';
    font-size: 15px;    
    color: #FFFFFF;
}

.menu_title_hover_parent
{
    background-image: url('Images/menu_parent_highlight.png');
    background-repeat: no-repeat;
    margin-top: -10px;
    padding-top: 10px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}

.menu_title_hover_footer
{
    background-image: url('Images/menu_parent_highlight.png');
    background-repeat: no-repeat;
    margin-top: -10px;
    padding-top:10px;
    
    text-align:center;
    text-transform: capitalize;
    text-decoration:none;  
    font-family: 'uvn mang Tre';
    font-size: 15px;    
    color: #FFFFFF;
}

.menu_panel_child
{
    background-image: url('Images/menu_child_pane.png');
    background-repeat: repeat-x;
    width: 960px;
    height: 70px;
    position: absolute;
    top: 27px;
    padding-left: 10px;
}

.menu_title_level1
{
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    color: #F22BDD;
    text-decoration:none;
}

.menu_title_active_child
{
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    color: #9B168D;
    text-decoration: none;
}

.PnlFixedLevel1MenuTitles
{
    padding-top: 20px;
}

.title_panel
{
    background-image: url('Images/title_pane.png');
    background-repeat: no-repeat;
    width: 459px;
    height: 35px;
    top: 70px;
}

.title
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #A617C0;
    float: left;
    margin-left: 15px;
    margin-top: 8px;
}

.subTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000FF;
    float: left;
    margin-left: 15px;
    margin-top: 8px;
}

.user_info
{
    width: 125px;
    height: 50px;
    position: absolute;
    top: 35px;
    right: 20px;
    font-family: arial, Helvetica, sans-serif;
    font-size: 11px;
}

.seach_panel
{
    height: 200px;
    border: 1px solid red;
    font-family: arial, Helvetica, sans-serif;
    padding: 5px 20px 5px 20px;
}

div#DivContentPages
{
    padding: 10px 20px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

table.search
{
    padding: 5px 0px 10px 0px;
    font-size: 13px;
}

.progress
{
    background-image: url('Images/inprogress.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

.error
{
    font-family: arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FF0000;
    padding-top: 3px;
    padding-bottom: 3px;
}

.hide_error
{
    display: none;
}

.show_error
{
    display: block;
}

.loginBox
{
    width: 400px;
    margin: 30px auto 30px auto;
    border: 2px solid #0000C8;
    background-color: #F8FDFD;
}

.readOnlyTextBox
{
    border: 1px solid #C0C0C0;
    padding: 0px 3px 0px 3px;
    background-color: #FCFCFC;
}

.textBoxWaterMask
{
    color: #C0C0C0;    
}

.tabHeader
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
    color: #0000FF;
    font-weight: bold;
}

.hidden
{
    display:none;
}

.visible
{
}

#divSearch 
{
    padding: 10px 0px 30px 0px;
}

#divSearch #divSearchCriteria
{
    float: left;
}

#divSearch #divButtonSearch
{
    float: left;
    width: 80px;
    margin-top: -5px;
}

.CustomValidatorCalloutStyle d

#divSearch #divButtonSearch
{
    float: left;
    width: 80px;
    margin-top: -5px;
    height: 34px;
}


    font-size: 12px;
    color: #FF0000;
}

.highlight
{
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFCC;
}

/* --------------- SideBar ------------------- */
.sideBarStep
{
    width: 280px;
    padding: 5px;
    background-color: #FFFFFF;
}

.sideBarActivedStep
{
    font-weight: bold;
    font-size:14px;
    color: #0000FF;
}

.sideBarUnativedStep
{
    font-weight:normal;
}

.SideBarStyle
{
    background-color: #FFFFFF;
    border-right-style: solid;
    border-width: 1px;
    padding: 5px;
}
/* --------------- SideBar ------------------- */
.pt0
{
    padding-top: 0px;
}

.pt10
{
    padding-top: 10px;
}

.pt15
{
    padding-top: 15px;
}

.mt-10
{
    margin-top: -10px;
}

.text_content
{
    background-image: url('Images/text_content_background.png');
    background-repeat: repeat;
    text-align: justify;
    white-space: normal;
    line-height: 29px;
    padding-top: 8px;
    padding-right: 5px;
    padding-left: 5px;
}

.text_content_white
{
    background-image: url('Images/text_content_background_2.png');
    background-repeat: repeat;
    text-align: justify;
    white-space: normal;
    line-height: 29px;
    padding-top: 8px;
    padding-right: 5px;
    padding-left: 5px;
}

.comment_border
{   
    padding: 5px;
    border: 1px solid #9d9d9d;
}

.checkBox_checked
{
    background-position: 0px 0px;
    background-image: url('Images/CheckBox.png');
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    width: 21px;
    height: 21px;
    padding: 0px;
    margin: 0px;
    cursor: hand;
}

.checkBox_unchecked
{
    background-position: -21px 0px;
    background-image: url('Images/CheckBox.png');
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    width: 21px;
    height: 21px;
    padding: 0px;
    margin: 0px;
    cursor: hand;
}

.alertNumber
{
    color: #FF6600;
    font-weight: bold;
}

#loading {  
  width: 200px;  
  height: 90px;  
  background-color: #ff9900;  
  position: absolute;  
  left: 50%;  
  top: 110;  
  margin-left: -100px;  
  text-align: center;  
 color: #ffffff;  
 font-weight: bold;  
 border: 2px solid #333333;  
} 

.Title
{
    font-size: 15px;
    font-weight: bold;
    font-family: arial, Helvetica, sans-serif;
    color: #3333CC;
}

.required
{
    color: #FF0000;
}

.detailTable table td
{
    height: 27px;
}

.bold
{
    font-weight: bold;
}

.font15
{
    font-size: 14px;
}