<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EContactBook.DataAccess.Properties.Settings.DbEContactBookConnectionString"
            connectionString="Server=tcp:m45afjam4t.database.windows.net,1433;Database=DbEContactBook;User ID=remoteacc@m45afjam4t;Password=1qazxsw@;Trusted_Connection=False;Encrypt=True;"
            providerName="System.Data.SqlClient" />
        <add name="EContactBook.DataAccess.Properties.Settings.DbEContactBookConnectionString1"
            connectionString="Server=tcp:m45afjam4t.database.windows.net,1433;Database=DbEContactBook;User ID=remoteacc@m45afjam4t;Password=1qazxsw@;Trusted_Connection=False;Encrypt=True;"
            providerName="System.Data.SqlClient" />
        <add name="EContactBook.DataAccess.Properties.Settings.DbEContactBookConnectionString2"
            connectionString="Server=tcp:m45afjam4t.database.windows.net,1433;Database=DbEContactBook;User ID=remoteacc@m45afjam4t;Password=1qazxsw@;Trusted_Connection=False;Encrypt=True;"
            providerName="System.Data.SqlClient" />
        <add name="EContactBook.DataAccess.Properties.Settings.DbEContactBookConnectionString3"
            connectionString="Data Source=localhost\SQLEXpress;Initial Catalog=DbEContactBook;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>