.table_data
{
    border: 2px solid #FFFFFF;
    width: 98%;
    padding: 10px;
    clear: both;
}

.table_data .add
{
    padding: 5px 5px 10px 5px;
    float: right;
}

.table_data .repeater
{
    width: 100%;
    border-collapse: collapse;
    font-family: arial, Helvetica, sans-serif;
    font-size: 13px;
}

.table_data .repeater td
{
    border: 2px solid #FFFFFF;
    padding: 0px 5px 0px 5px;
}

.table_data .repeater .header
{
    height: 49px;
    font-family: arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    border-style: none;
    background-image: url('Images/table_header_middle.png');
    background-repeat: repeat-x;
}

.table_data .repeater .header a
{
    font-family: arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}

.table_data .repeater .header .left
{
    border-left-style: none;
}

.table_data .repeater .header .left_2
{
    background-image: url('Images/table_header_left_2.png');
    background-repeat: no-repeat;
    border-left-style: none;
}

.table_data .repeater .header .middle
{
}

.table_data .repeater .header .right
{
    border-right-style: none;
}

.table_data .repeater .header td
{
    border-top-style: none;
    border-bottom-style: none;
}

.table_data .repeater .table_header .icon
{
    width: 50px;
}

.table_data .repeater .icon
{
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    width: 50px;
}

.table_data .repeater .table_header .orderNo
{
    width: 60px;
}

.table_data .repeater .orderNo
{
    vertical-align: middle;
    text-align: center;
    width: 45px;
}

.table_data .repeater .footer
{
    vertical-align: top;
    height: 40px;
    padding: 0px;
    background-image: url('Images/table_footer_middle.png');
    background-repeat: repeat-x;
    border-top-style: none;
    border-bottom-style: none;
}

.table_data .repeater .footer .middle
{
    background-image: url('Images/table_footer_middle.png');
    background-repeat: repeat-x;
    width: 98%;
    height: 41px;
    margin-top: -2px;
    margin-left: 8px;
    margin-right: 8px;
}

.table_data .repeater .footer .left
{
    background-image: url('Images/table_footer_left.png');
    background-repeat: repeat-x;
    width: 17px;
    height: 41px;
    float: left;
    margin-top: -2px;
    margin-left: -1px;
}

.table_data .repeater .footer .right
{
    background-image: url('Images/table_footer_right.png');
    background-repeat: repeat-x;
    width: 17px;
    height: 41px;
    float: right;
    margin-top: -2px;
    margin-right: -1px;
}

.searchResult
{
    font-size: 15px;
    font-weight: bold;
    color: #000080;
}

.evenRow
{    
    background-color: #cde6fa;
}

.oddRow
{
    background-color: #e0f0fd;
}

.innerEvenRow
{
    background-color: #FFFFFF;
}

.innerOddRow
{
    background-color: #E4FAE9;
}

.hover
{
    background-color: #9FCFFF;
    color: #000000;
}

.emphasizedRow
{
    background-color: #FFFF00;
    color: #000000;
    font-weight: bold;
}