<html>
<head>
	<title></title>
</head>
<body>
<table border=1 >
<tr align="center"> 
	<th bgcolor="#99ccff">Buổi/Thứ</th>
	<th bgcolor="#99ccff">Thứ 2</th> 
	<th bgcolor="#99ccff">Thứ 3</th> 
	<th bgcolor="#99ccff">Thứ 4</th> 
	<th bgcolor="#99ccff">Thứ 5</th> 
	<th bgcolor="#99ccff">Thứ 6</th> 
	<th bgcolor="#99ccff">Thứ 7</th> 
	</tr>
<tr align="center">
    <th rowspan=5 bgcolor="#99cccc">Sáng</th>
    <td>[T21]</td>
    <td>[T31]</td>
    <td>[T41]</td>
    <td>[T51]</td>
    <td>[T61]</td>
    <td>[T71]</td>
	</tr>
<tr align="center">	
    <td>[T22]</td>
    <td>[T32]</td>
    <td>[T42]</td>
    <td>[T52]</td>
    <td>[T62]</td>
    <td>[T72]</td>
	</tr>
<tr align="center">	
    <td>[T23]</td>
    <td>[T33]</td>
    <td>[T43]</td>
    <td>[T53]</td>
    <td>[T63]</td>
    <td>[T73]</td>	
	</tr>
<tr align="center">	
    <td>[T24]</td>
    <td>[T34]</td>
    <td>[T44]</td>
    <td>[T54]</td>
    <td>[T64]</td>
    <td>[T74]</td>
	</tr>
<tr align="center">	
    <td>[T25]</td>
    <td>[T35]</td>
    <td>[T45]</td>
    <td>[T55]</td>
    <td>[T65]</td>
    <td>[T75]</td>	
	</tr>	
<tr align="center">
    <th rowspan=5 bgcolor="#99ccff">Chiều</th>
    <td>[T26]</td>
    <td>[T36]</td>
    <td>[T46]</td>
    <td>[T56]</td>
    <td>[T66]</td>
    <td>[T76]</td>	
	</tr>
<tr align="center">	
    <td>[T27]</td>
    <td>[T37]</td>
    <td>[T47]</td>
    <td>[T57]</td>
    <td>[T67]</td>
    <td>[T77]</td>	
	</tr>
<tr align="center">	
    <td>[T28]</td>
    <td>[T38]</td>
    <td>[T48]</td>
    <td>[T58]</td>
    <td>[T68]</td>
    <td>[T78]</td>	
	</tr>
<tr align="center">	
    <td>[T29]</td>
    <td>[T39]</td>
    <td>[T49]</td>
    <td>[T59]</td>
    <td>[T69]</td>
    <td>[T79]</td>
	</tr>
<tr align="center">	
    <td>[T210]</td>
    <td>[T310]</td>
    <td>[T410]</td>
    <td>[T510]</td>
    <td>[T610]</td>
    <td>[T710]</td>	
	</tr>		
    
</table>
</body>
</html>