<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EContactBook.DataAccess.Properties.Settings.DbEContactBookConnectionString"
            connectionString="data source=localhost\SQLEXpress;Integrated Security=SSPI;initial catalog=DbEContactBook"
            providerName="System.Data.SqlClient" />
        <add name="EContactBook.DataAccess.Properties.Settings.DbEContactBookConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\DbEContactBook.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="EContactBook.DataAccess.Properties.Settings.DbEContactBookConnectionString2"
            connectionString="Data Source=localhost\SQLEXpress;Initial Catalog=DbEContactBook;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>